{% extends 'base.html.twig' %}

{% block content %}
<h1>Add new Categorie</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'}}) }}

    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.submit) }}


    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock  %}