{% extends 'base.html.twig' %}

{% block title %}List of Products{% endblock %}

{% block content %}
    <h1>List of Products</h1>
    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('addproduct') }}" class="btn btn-primary">Add New Product</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Location</th>
            <th>Subcategory</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.latitude }}, {{ product.longitude }}</td>
                <td>{{ product.subCategory.name }}</td>

                <td>  <a href="{{ path('updateproduct', {'id': product.id}) }}" class="btn btn-warning">Edit</a></td>
                <td>  <a href="{{ path('deleteproduit', {'id': product.id}) }}" class="btn btn-danger">delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}