{% extends 'base.html.twig' %}

{% block content %}
    <h1>Add a subcategory</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}